<nav class="navbar navbar-expand-md bg-dark">
    <div class="container">
        <div class="container-fluid">
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              menu<span class="navbar-toggler-icon"></span>
  
          </button>
        
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item ">
                  <a class="nav-link " aria-current="page" href="/home">Home</a>
                </li>


                <%if(isUser){ %>
                <li class="nav-item">

                  <a class="nav-link" href="/cart">card</a>
                </li>
                
                <li class="nav-item">
                  <a class="nav-link" href="/cart/order/adress">order</a>
                </li>
                <li class="nav-item">
                  <%}else{%>
                  <a class="nav-link" href="/login">login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/signup">signup</a>
                </li>
                <%}%>
                
                <%if(ISAdmin){ %>
                  <li class="nav-item">
                    <a class="nav-link" href="/admin/manage">manage order</a>
                  </li>
                <li class="nav-item">
                  <a class="nav-link" href="/admin/add">add product</a>
                </li>
                </li> 
                <%}%>
                <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li>
               
                
              </ul>
              <%if(isUser){ %>
              <form action="/logout" method="post">
                <input type="submit" value="logout" class="btn btn-danger">
                
              </form>

              <%}%>
              <%if(username){ %>
                 
                 
                <p class="btn btn-success"> <%=username%></p>
               
                 <%}%> 
            </div>
          </div>
    </div>
    
  </nav>
